/* MOVIES SLIDER 1 */
.cdx-movies-slider-1-wrap {
    min-height: 80vh;
    @media #{$xxl} {
        min-height: auto;
    }
}

.cdx-movie-item-1 {
    background: hsl(var(--dark) / 0.1);
    border-bottom: 4px solid transparent;
    transition: var(--transition);
    user-select: none;
    .cdx-thumb-wrap {
        display: block;
        .cdx-thumb {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }
    .cdx-item-content {
        padding: clamp(18px, 1.6vw, 30px);
        transition: var(--transition);
        display: flex;
        align-items: center;
        gap: clamp(16px, 1.4vw, 26px);
        .cdx-text-26,
        .cdx-text-15 {
            transition: var(--transition);
        }
        .cdx-icon {
            .light {
                display: block;
            }
            .dark {
                display: none;
            }
        }
    }
    &:hover {
        border-bottom: 4px solid hsl(var(--primary));
        .cdx-item-content {
            background: hsl(var(--dark));
            .cdx-text-26,
            .cdx-text-15 {
                color: hsl(var(--white));
            }
        }
        .cdx-icon {
            .cdx-icon-main {
                color: hsl(var(--white) / 0.2);
            }
            .cdx-icon-plus {
                color: hsl(var(--white));
            }
        }
        .cdx-icon {
            .light {
                display: none;
            }
            .dark {
                display: block;
            }
        }
    }
}

.dark {
    .cdx-movie-item-1 {
        .cdx-item-content {
            .cdx-icon {
                .light {
                    display: none;
                }
                .dark {
                    display: block;
                }
            }
        }
        &:hover {
            .cdx-item-content {
                background: hsl(var(--primary));
            }
        }
    }
}

/* MOVIES SLIDER 1 END */
