/* TESTIMONIAL START 1 */
.cdx-testimonial-1 {
}

.cdx-testimonial-slider-1-wrap {
    padding-right: clamp(100px, 15vw, 270px);
    position: relative;
    .swiper-slide-prev {
        border-right: 1px solid hsl(var(--dark) / 0.1);
        border-left: 1px solid hsl(var(--dark) / 0.1);
    }
    .swiper-slide-active {
        border-right: 1px solid hsl(var(--dark) / 0.1);
        margin-left: 1px;
    }
    .cdx-navigation {
        position: absolute;
        right: 0px;
        top: 50%;
        transform: translateY(-50%);
        width: clamp(100px, 15vw, 270px);
        height: 100%;
        display: flex;
        flex-direction: column;
        align-items: stretch;
        .swiper-button-next {
            border: 1px solid hsl(var(--dark) / 0.1);
            position: static;
            left: auto;
            right: auto;
            width: 100%;
            margin-top: 0;
            flex: 1;
            font-size: clamp(18px, 1.9vw, 36px);
            color: hsl(var(--dark));
            transition: var(--transition);
            &::after {
                display: none;
            }
            &:hover {
                background: hsl(var(--dark) / 0.1);
            }
        }
        .swiper-button-prev {
            border: 1px solid hsl(var(--dark) / 0.1);
            border-top: none;
            position: static;
            flex: 1;
            width: 100%;
            left: auto;
            font-size: clamp(18px, 1.9vw, 36px);
            color: hsl(var(--dark));
            margin-top: 0;
            right: auto;
            transition: var(--transition);
            &::after {
                display: none;
            }
            &:hover {
                background: hsl(var(--dark) / 0.1);
            }
        }
    }
}

.cdx-testimonial-item-1 {
    display: flex;
    align-items: stretch;
    .cdx-thumb-wrap {
        max-width: 30%;
        width: 100%;
        .cdx-thumb {
            width: 100%;
            height: 100%;
            vertical-align: middle;
            object-fit: cover;
            object-position: center;
            object-fit: cover;
        }
    }
    .cdx-item-content {
        padding: clamp(24px, 3.8vw, 70px) clamp(20px, 3.2vw, 60px);
        flex: 1;
        border-top: 1px solid hsl(var(--dark) / 0.1);
        border-bottom: 1px solid hsl(var(--dark) / 0.1);
        display: flex;
        flex-direction: column;
        justify-content: center;
        gap: clamp(24px, 3.8vw, 70px);
    }
}

@media #{$sm} {
    .cdx-testimonial-slider-1-wrap {
        padding-right: 0;
        margin-bottom: 44px;
        .swiper-slide-active {
            margin-left: 0;
        }
        .swiper-slide {
            margin-bottom: 10px;
        }

        .cdx-navigation {
            width: 100%;
            flex-direction: row-reverse;
            height: 44px;
            transform: translateY(0);
            top: 100%;

            .swiper-button-next {
                border-left: none;
            }
            .swiper-button-prev {
                border-top: 1px solid hsl(var(--dark) / 0.1);
            }
        }
    }
}
@media #{$xs} {
    .cdx-testimonial-slider-1-wrap {
        .swiper-slide {
            margin-bottom: 0px;
        }
    }
    .cdx-testimonial-item-1 {
        flex-direction: column;
        .cdx-thumb-wrap {
            max-width: 100%;
        }

        .cdx-item-content {
            border-left: 1px solid hsl(var(--dark) / 0.1);
            border-bottom: none;
            border-top: none;
        }
    }
}

/* TESTIMONIAL END 1 */
