/* SERVICE AREA 1  START */
.cdx-service-1 {
    padding-left: clamp(30px, 4.5vw, 80px);
    padding-right: clamp(30px, 4.5vw, 80px);
}
.cdx-service-grid-1 {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    row-gap: clamp(25px, 4.8vw, 90px);
    column-gap: clamp(70px, 11vw, 206px);
    @media #{$lg} {
        column-gap: 40px;
    }
    @media #{$sm} {
        grid-template-columns: repeat(2, 1fr);
    }
    @media #{$xs} {
        grid-template-columns: 1fr;
        row-gap: 35px;
    }
}
.cdx-service-item-1 {
    .cdx-icon-box {
        width: clamp(50px, 4.3vw, 80px);
        height: clamp(50px, 4.3vw, 80px);
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 100px;
        border: 1px solid hsl(var(--dark) / 0.1);
        font-size: clamp(20px, 2.4vw, 40px);
        padding: 12px;
        color: hsl(var(--dark));
        .cdx-icon {
            display: inline-flex;
        }
    }
}

/* SERVICE AREA 1  END */
