<!doctype html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta http-equiv="x-ua-compatible" content="ie=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
        <meta
            name="description"
            content="IPTV is a modern, responsive HTML template perfect for media agencies and entertainment companies."
        />
        <meta name="author" content="Codexshaper LLC" />
        <title>IPTV - TV Streaming HTML Template</title>
        <meta property="og:type" content="website" />
        <meta property="og:url" content="https://iptv-orcin-seven.vercel.app/" />
        <meta  property="og:image" content="https://iptv-orcin-seven.vercel.app/assets/images/theme.webp" />
        <!-- FAVICON -->
        <link rel="shortcut icon" type="image/x-icon" href="assets/images/favicon.png" />
        <!-- ICON -->
       <script src="assets/js/vendor/iconify-icon.min.js"></script>
        <!-- CSS -->
        <link rel="stylesheet" href="assets/css/vendor/bootstrap.min.css" />
        <link rel="stylesheet" href="assets/css/vendor/swiper-bundle.min.css" />
        <!-- STYLE CSS -->
        <link rel="stylesheet" href="assets/css/main.min.css" />
    </head>
    <body class="@@bodyClass">
        <!--==================== PRELOADER START ====================-->
        <div id="loader-wrapper">
            <div class="spinner"></div>
        </div>
        <!--==================== PRELOADER END ====================-->