/* Sidebar Card */
.cdx-sidebar-card {
    padding: clamp(20px, 1.5vw, 30px);
    background: hsl(var(--dark) / 0.1);
    .cdx-text-24 {
        position: relative;
        padding-bottom: 8px;
        &::after {
            content: "";
            position: absolute;
            left: 0;
            width: 60px;
            height: 2px;
            bottom: 0;
            background: hsl(var(--primary));
        }
    }

    .cdx-input-1,
    .cdx-select-1 {
        background: hsl(var(--white));
        padding-top: 12px;
        padding-bottom: 12px;
    }
}
