/* SLIDER HEADER */
.cdx-slider-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 12px;
    flex-wrap: wrap;
    .cdx-navigation {
        max-width: clamp(90px, 6.5vw, 118px);
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        position: relative;
        margin-left: initial;
        flex-direction: row-reverse;
        --swiper-navigation-sides-offset: 0px;
        .swiper-button-prev,
        .swiper-button-next {
            position: static;
            margin-top: initial;
        }

        &.navigation-small {
            max-width: clamp(70px, 4.8vw, 90px);
            height: clamp(30px, 2.2vw, 40px);
        }
    }
}

/* SLIDER NAVIGATION */
.cdx-navigation {
    .cdx-btn-icon-1 {
        &::after {
            display: none;
        }
    }
}

/* SLIDER PAGINATION */
.swiper-pagination {
    position: static;
    --swiper-pagination-bullet-width: 10px;
    --swiper-pagination-color: hsl(var(--primary));
    --swiper-pagination-bullet-height: 10px;
    --swiper-pagination-bullet-inactive-color: hsl(var(--dark));
}
