/* SOCIAL ICONS */
.cdx-social-icon {
    &-1 {
        height: 44px;
        width: 44px;
        background: hsla(var(--primary));
        border: 1px solid hsla(var(--dark) / 0.1);
        display: flex;
        justify-content: center;
        align-items: center;
        transition: all 0.3s ease;
        padding: 5px;
        font-size: 20px;
        color: hsla(var(--dark));
        transition: var(--transition);
        &:hover {
            background: hsla(var(--white));
            border: 1px solid transparent;
        }

        @media #{$xs} {
            height: 40px;
            width: 40px;
        }

        &.outline {
            background: transparent;
            border: 1px solid hsla(var(--dark) / 0.1);
            color: hsla(var(--dark));
            &:hover {
                background: hsla(var(--primary));
                border: 1px solid transparent;
                color: hsla(var(--dark));
            }
        }
    }
}

.dark {
    .cdx-social-icon-1 {
        color: hsla(var(--white));
        border: 1px solid hsla(var(--white) / 0.1);

        &:hover {
            background: hsla(var(--dark));
            border: 1px solid transparent;
        }
    }
}
