$spacing-values: (
    4: clamp(3px, 0.3vw, 4px),
    8: clamp(6px, 0.5vw, 8px),
    10: clamp(8px, 0.6vw, 10px),
    12: clamp(10px, 0.7vw, 12px),
    14: clamp(10px, 0.8vw, 14px),
    16: clamp(10px, 0.9vw, 16px),
    18: clamp(12px, 1vw, 18px),
    20: clamp(14px, 1.1vw, 20px),
    22: clamp(16px, 1.2vw, 22px),
    24: clamp(16px, 1.3vw, 24px),
    26: clamp(18px, 1.4vw, 26px),
    28: clamp(18px, 1.5vw, 28px),
    30: clamp(18px, 1.6vw, 30px),
    40: clamp(20px, 2.2vw, 40px),
    50: clamp(20px, 2.7vw, 50px),
    60: clamp(20px, 3.2vw, 60px),
    70: clamp(24px, 3.8vw, 70px),
    80: clamp(30px, 4.5vw, 80px),
    100: clamp(40px, 5.5vw, 100px),
    120: clamp(40px, 7vw, 120px),
    140: clamp(50px, 7.5vw, 140px),
    160: clamp(50px, 8.5vw, 160px)
);

// In Rem  font-size: 62.5%;
// $spacing-values: (
//     4: clamp(0.3rem, 0.3vw, 0.4rem),
//     8: clamp(0.6rem, 0.5vw, 0.8rem),
//     10: clamp(0.8rem, 0.6vw, 1rem),
//     12: clamp(1rem, 0.7vw, 1.2rem),
//     14: clamp(1rem, 0.8vw, 1.4rem),
//     16: clamp(1rem, 0.9vw, 1.6rem),
//     18: clamp(1.2rem, 1vw, 1.8rem),
//     20: clamp(1.4rem, 1.1vw, 2rem),
//     22: clamp(1.6rem, 1.2vw, 2.2rem),
//     24: clamp(1.6rem, 1.3vw, 2.4rem),
//     26: clamp(1.8rem, 1.4vw, 2.6rem),
//     28: clamp(1.8rem, 1.5vw, 2.8rem),
//     30: clamp(1.8rem, 1.6vw, 3rem),
//     40: clamp(2rem, 2.2vw, 4rem),
//     50: clamp(2rem, 2.7vw, 5rem),
//     60: clamp(2rem, 3.2vw, 6rem),
//     70: clamp(2.4rem, 3.8vw, 7rem),
//     80: clamp(3rem, 4.5vw, 8rem),
//     100: clamp(4rem, 5.5vw, 10rem),
//     120: clamp(4rem, 7vw, 12rem),
//     140: clamp(5rem, 7.5vw, 14rem),
//     160: clamp(5rem, 8.5vw, 16rem)
// );

@each $key, $value in $spacing-values {
    .cdx-mt-#{$key} {
        margin-top: #{$value};
    }
    .cdx-mb-#{$key} {
        margin-bottom: #{$value};
    }
    .cdx-pt-#{$key} {
        padding-top: #{$value};
    }
    .cdx-pb-#{$key} {
        padding-bottom: #{$value};
    }
}
