/* BLOG 1 START */
.cdx-blogs-1 {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    row-gap: clamp(24px, 2.2vw, 40px);
    column-gap: clamp(18px, 1.6vw, 30px);
    margin-bottom: clamp(30px, 3.2vw, 60px);
    @media #{$md} {
        grid-template-columns: repeat(2, 1fr);
    }
    @media #{$xs} {
        grid-template-columns: repeat(1, 1fr);
    }
}
.cdx-blog-item-1 {
    background: hsl(var(--dark) / 0.04);

    .cdx-item-wrap {
        border: 1px solid hsl(var(--dark) / 0.1);
        border-bottom: none;
    }
    .cdx-item-content {
        border-bottom: 1px solid hsl(var(--dark) / 0.1);
        padding: clamp(20px, 2.2vw, 40px) clamp(16px, 2.7vw, 50px) clamp(20px, 2.7vw, 50px) clamp(16px, 2.2vw, 40px);
    }
    .cdx-item-meta {
        display: flex;
        align-items: center;
        gap: 10px;
        justify-content: space-between;
    }
    .cdx-item-meta-2 {
        padding: clamp(16px, 2.2vw, 40px);
        display: flex;
        align-items: center;
        gap: 10px;
        justify-content: space-between;
    }
    .cdx-date {
        display: flex;
        align-items: center;
        gap: 5px;
        span {
            display: inline-flex;
        }
    }
    .cdx-thumb-wrap {
        overflow: hidden;
        display: block;
        .cdx-thumb {
            width: 100%;
            height: 100%;
            object-fit: cover;
            object-position: center;
            transition: all 1s ease;
            transform: scale(1);
            &:hover {
                transform: scale(1.4);
            }
        }
    }

    @media #{$md} {
        .cdx-text-30 {
            max-width: 335px;
        }
    }
}

/* DARK */
.dark {
    .cdx-blog-item-1 {
        .cdx-badge-2 {
            &:hover {
                color: hsl(var(--white));
            }
        }
    }
}
/* BLOG 1 END */
