.cdx-header-1 {
    --theme-toggle-width: 48px;
    --theme-toggle-height: 24px;
    --theme-toggle-circle-width: 0;
    --theme-toggle-circle-dimensions: calc(var(--theme-toggle-height) - 0.5rem);
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 999;
    background: hsl(var(--dark));
    color: hsl(var(--white));
    padding: clamp(16px, 1.3vw, 25px) 0;

    .cdx-header-wrap {
        display: flex;
        align-items: center;
        justify-content: space-between;

        .logo {
            display: flex;
            align-items: center;
            img {
                width: fit-content;
                height: clamp(40px, 2.7vw, 50px);
                object-fit: contain;
                object-position: center;
            }
        }
    }

    .cdx-nav-list {
        display: flex;
        align-items: center;
        gap: clamp(20px, 2.7vw, 50px);
        white-space: normal;
        flex-wrap: wrap;
        row-gap: 5px;
        justify-content: center;
        a {
            text-transform: capitalize;
            transition: var(--transition);
            &.active,
            &:hover {
                color: hsl(var(--primary));
            }
        }
    }
    .cdx-nav-actions {
        display: flex;
        align-items: center;
        gap: clamp(16px, 1.3vw, 24px);
        .cdx-options {
            display: flex;
            align-items: center;
            gap: clamp(18px, 1.5vw, 28px);
        }
    }

    @media #{$lg} {
        .cdx-nav-list,
        .cdx-nav-actions {
            display: none;
        }
    }
}

.theme-toggle {
    -webkit-appearance: none;
    outline: none;
    cursor: pointer;
    height: var(--theme-toggle-height);
    width: var(--theme-toggle-width);
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    border: 1px solid #ddd;
    position: relative;
    border-radius: var(--theme-toggle-circle-dimensions);
    padding: 0.2rem;
    background-color: #fff;
    transition: background-color 0.5s;

    &:before {
        content: "";
        width: var(--theme-toggle-circle-dimensions);
        height: var(--theme-toggle-circle-dimensions);
        background-color: #007bff;
        position: absolute;
        border-radius: 50%;
        top: 50%;
        transform: translateY(-50%) translateX(0%);
        transition: transform 0.5s;
    }

    &:after {
        content: "";
        white-space: nowrap;
        color: #111;
        position: absolute;
        left: calc(100% + 1.5rem);
        font-size: 1.3rem;
        top: 50%;
        transform: translateY(-50%);
        pointer-events: none;
    }
}

.theme-toggle:checked {
    background-color: #007bff;
    border: none;

    &:before {
        background-color: #fff;
        transform: translateY(-50%) translateX(calc(var(--theme-toggle-width) - var(--theme-toggle-height)));
    }
}

.dark {
    .cdx-header-1 {
        background: hsl(var(--white) / 0.5);
        color: hsl(var(--dark));
    }
}
