.cdx-badge {
    &-1 {
        display: inline-flex;
        height: clamp(30px, 2.2vw, 36px);
        padding: clamp(4px, 0.5vw, 9px) clamp(14px, 1.1vw, 20px);
        padding-top: clamp(5px, 0.6vw, 11px);
        justify-content: center;
        align-items: center;
        gap: 10px;
        flex-shrink: 0;
        border-radius: 100px;
        border: 1px solid hsl(var(--primary) / 0.14);
        color: hsl(var(--white));
        font-family: $font-primary;
        font-size: clamp(13px, 0.9vw, 15px);
        font-weight: 400;
    }
    &-2 {
        display: inline-flex;
        height: clamp(32px, 2.2vw, 40px);
        padding: clamp(4px, 0.5vw, 9px) clamp(18px, 1.8vw, 32px);
        padding-top: clamp(5px, 0.6vw, 11px);
        justify-content: center;
        align-items: center;
        gap: 10px;
        flex-shrink: 0;
        border-radius: 100px;
        border: 1px solid hsl(var(--dark) / 0.14);
        color: hsl(var(--dark));
        font-family: $font-primary;
        font-size: clamp(14px, 0.9vw, 16px);
        font-weight: 500;
        transition: var(--transition);

        &:hover {
            border: 1px solid transparent;
            background: hsl(var(--primary));
        }
    }
    &-3 {
        display: inline-flex;
        height: clamp(26px, 1.6vw, 30px);
        padding: clamp(4px, 0.5vw, 8px) clamp(8px, 0.7vw, 12px);
        justify-content: center;
        align-items: center;
        gap: 10px;
        flex-shrink: 0;
        border: 1px solid hsl(var(--dark) / 0.14);
        color: hsl(var(--dark));
        font-size: clamp(14px, 0.9vw, 16px);
        font-weight: 400;
        color: hsl(var(--dark) / 0.7);
    }
    &-4 {
        border-radius: 0px 100px 100px 0px;
        background: hsl(var(--primary));
        box-shadow: 0px 4px 4px 0px rgba(0, 255, 166, 0.1);
        color: hsl(var(--dark));
        font-size: clamp(13px, 0.9vw, 15px);
        font-weight: 500;
        padding: 4px clamp(10px, 0.8vw, 14px) 4px clamp(6px, 0.6vw, 10px);
    }
    &-5 {
        color: hsl(var(--white));
        font-size: clamp(13px, 0.9vw, 15px);
        font-weight: 500;
        padding: 4px clamp(8px, 0.7vw, 12px);
        border-radius: 20px;
        border: 1px solid hsl(var(--white));
        display: inline-flex;
        height: clamp(24px, 1.4vw, 26px);
        justify-content: center;
        align-items: center;
        gap: 10px;
        flex-shrink: 0;
        line-height: 2;
        &.cdx-dark {
            border: 1px solid hsl(var(--dark));
            color: hsl(var(--dark));
        }
    }
    &-6 {
        color: hsl(var(--dark));
        font-size: clamp(10px, 0.9vw, 16px);
        font-weight: 500;
        background: hsl(var(--white));
        padding: 5px clamp(14px, 1.1vw, 20px);
        height: clamp(30px, 1.9vw, 35px);
        border-radius: 20px;
        display: inline-flex;
        justify-content: center;
        align-items: center;
        flex-shrink: 0;
    }
}

.dark {
    .cdx-badge {
        &-4 {
            color: hsl(var(--white));
        }
        &-2 {
            &:hover {
                color: hsl(var(--white));
            }
        }
    }
}
