/* =========================
    COLOR 
============================*/
.cdx {
    &-bg {
        &-dark {
            background: hsl(var(--dark));
            &-1 {
                background: hsl(var(--dark) / 0.1);
            }
        }
        &-primary {
            background: hsl(var(--primary));
        }
        &-white {
            background: hsl(var(--white));
            &-1 {
                background: hsl(var(--white) / 0.1);
            }
        }
    }

    &-color {
        &-dark {
            color: hsl(var(--dark));
            &-6 {
                color: hsl(var(--dark) / 0.6);
            }
            &-8 {
                color: hsl(var(--dark) / 0.8);
            }
        }
        &-primary {
            color: hsl(var(--primary));
        }
        &-white {
            color: hsl(var(--white));
            &-6 {
                color: hsl(var(--white) / 0.6);
            }
            &-8 {
                color: hsl(var(--white) / 0.8);
            }
        }
    }
}
