/*=========================
    FONT FAMILY START
==========================*/
.cdx-font-primary {
    font-family: $font-primary;
}
/*=========================
    FONT SIZE START 
==========================*/
$font-sizes: (
    15: clamp(13px, 0.9vw, 15px),
    16: clamp(14px, 0.9vw, 16px),
    18: clamp(15px, 1vw, 18px),
    20: clamp(15px, 1.1vw, 20px),
    24: clamp(16px, 1.3vw, 24px),
    26: clamp(16px, 1.4vw, 26px),
    30: clamp(18px, 1.6vw, 30px),
    32: clamp(18px, 1.8vw, 32px),
    44: clamp(20px, 2.4vw, 44px),
    50: clamp(20px, 2.7vw, 50px),
    60: clamp(20px, 3.2vw, 60px),
    70: clamp(25px, 3.8vw, 70px),
    120: clamp(40px, 6.5vw, 120px)
);
// In Rem  font-size: 62.5%;
// $font-sizes: (
//     15: clamp(1.4rem, 0.9vw, 1.5rem),
//     16: clamp(1.4rem, 0.9vw, 1.6rem),
//     18: clamp(1.5rem, 1vw, 1.8rem),
//     20: clamp(1.5rem, 1.1vw, 2rem),
//     24: clamp(1.6rem, 1.3vw, 2.4rem),
//     26: clamp(1.6rem, 1.4vw, 2.6rem),
//     30: clamp(1.8rem, 1.6vw, 3rem),
//     32: clamp(1.8rem, 1.8vw, 3.2rem),
//     44: clamp(2rem, 2.4vw, 4.4rem),
//     50: clamp(2rem, 2.7vw, 5rem),
//     60: clamp(2rem, 3.2vw, 6rem),
//     70: clamp(2.5rem, 3.8vw, 7rem),
//     120: clamp(4rem, 6.5vw, 12rem)
// );
.cdx-text {
    @each $key, $size in $font-sizes {
        &-#{$key} {
            font-size: $size;
        }
    }
}

// font width
.cdx-fw- {
    &900 {
        font-weight: 900;
    }
    &800 {
        font-weight: 800;
    }
    &700 {
        font-weight: 700;
    }
    &600 {
        font-weight: 600;
    }
    &500 {
        font-weight: 500;
    }
    &400 {
        font-weight: 400;
    }
    &300 {
        font-weight: 300;
    }
}

/* TYPEWRITER */
.cdx-hover-line {
    display: inline;
    background-image: linear-gradient(currentColor, currentColor);
    background-size: 0% 2px;
    background-position: 0 100%;
    background-repeat: no-repeat;
    transition: background-size 0.5s ease;

    &:hover {
        background-size: 100% 2px;
        color: hsl(var(--dark));
    }
}

.cdx-left-line {
    padding-left: 14px;
    position: relative;
    &::before {
        content: "";
        position: absolute;
        left: 0;
        top: 50%;
        transform: translateY(-50%);
        width: 3px;
        height: 70%;
        background-color: hsl(var(--primary));
    }
}
