/*===================================
    THEME 
  ===================================*/
.container-1920 {
    max-width: 1920px;
    width: 100%;
    margin-right: auto;
    margin-left: auto;
}

.container-1560 {
    max-width: 1590px;
    width: 100%;
    margin-right: auto;
    margin-left: auto;
    padding-left: 15px;
    padding-right: 15px;
}
