<section style="background-image: url(&quot;assets/images/breadcrumb/breadcrumb-bg.webp&quot;)" class="cdx-breadcrumb cdx-pt-100 cdx-pb-100">
    <div class="container-1560">
        <div class="cdx-mb-12">
            <h1 class="cdx-text-70 cdx-color-white cdx-fw-700">@@A</h1>
        </div>
        <ul class="cdx-breadcrumb-list">
            <li class="cdx-breadcrumb-item">
                <a href="index.html">
                    <span class="cdx-icon"><iconify-icon icon="ic:sharp-home"></iconify-icon></span>
                    <span>Home</span>
                </a>
            </li>
            <li class="cdx-breadcrumb-item">
                <a href="#">
                    <span>Section</span>
                </a>
            </li>
            <li class="cdx-breadcrumb-item">
                <span>Subsection</span>
            </li>
            <li class="cdx-breadcrumb-item cdx-active">
                <span>@@A</span>
            </li>
        </ul>
    </div>
</section>