<header class="cdx-header-1">
    <!-- <ul class="d-flex align-items-center gap-2 overflow-hidden flex-nowrap" style="white-space: nowrap">
        <li><a class="text-decoration-underline" href="index.html">Home</a></li>
        <li><a class="text-decoration-underline" href="blog.html">blog</a></li>
        <li><a class="text-decoration-underline" href="movie.html">movie</a></li>
        <li><a class="text-decoration-underline" href="movie-details.html">movie details</a></li>
        <li><a class="text-decoration-underline" href="typography.html">typography</a></li>
        <li><a class="text-decoration-underline" href="utility.html">utility</a></li>
        <li><a class="text-decoration-underline" href="contact.html">contact</a></li>
        <li><button class="cdx-color-primary" id="dark">Dark</button></li>
        <li><button class="cdx-color-primary" id="light">Light</button></li>
    </ul> -->
    <div class="container-1560">
        <div class="cdx-header-wrap">
            <!-- LOGO  -->
            <a class="logo" href="index.html">
                <img src="assets/images/logo/logo.png" alt="logo" />
            </a>
            <!-- NAV  -->
            <ul class="cdx-nav-list">
                <li><a href="index.html">Home</a></li>
                <li><a href="movie.html">Movie</a></li>
                <li><a href="typography.html">Typography</a></li>
                <li><a href="blog.html">Blog</a></li>
                <li><a href="Utility.html">utility</a></li>
                <li><a href="contact.html">Contact Us</a></li>
            </ul>
            <!-- ACTIONS  -->
            <div class="cdx-nav-actions">
                <div class="cdx-options">
                    <button class="cdx-cart">
                        <img src="assets/images/icons/cart.svg" alt="icon" />
                    </button>
                    <input class="theme-toggle" type="checkbox" />
                </div>
                <button class="cdx-btn-1">
                    <span>Get A Free Trial</span>
                    <span class="cdx-arrow"><iconify-icon icon="bi:arrow-right"></iconify-icon></span>
                </button>
            </div>
        </div>
    </div>
</header>