<div class="cdx-hero-1" style="background-image: url(assets/images/hero-1/bg.webp)">
    <div class="container-1920">
        <div class="swiper hero-slider-1">
            <div class="swiper-wrapper">
                <div class="swiper-slide">
                    <div class="container-1560">
                        <div class="cdx-hero-wrapper">
                            <div class="cdx-hero-content">
                                <span class="cdx-badge-1 cdx-mb-8">David Robert Mitchell</span>
                                <h1 class="cdx-text-120 cdx-color-white cdx-fw-500 cdx-mb-20">
                                    The International
                                    <span class="cdx-color-primary">IPTV</span>
                                    Provider
                                </h1>
                                <p class="cdx-text-20 cdx-color-white-8 cdx-fw-400 cdx-mb-60">
                                    These stores often offer variety of brands and models, giving customers best option that suits their needs and
                                    budget.
                                </p>
                                <div class="cdx-imbd-wrapper">
                                    <!-- stroke-dashoffset
                                         55% progress = 125.6 × (1 - 0.55) = 56.52  -->

                                    <div class="cdx-imbd-icon">
                                        <svg class="cdx-imbd-ratting" width="50" height="50" viewBox="0 0 50 50">
                                            <!-- Background Circle -->
                                            <circle cx="25" cy="25" r="20" class="cdx-imbd-circle" stroke-width="4" fill="none"></circle>
                                            <!-- Progress Circle -->
                                            <circle
                                                cx="25"
                                                cy="25"
                                                r="20"
                                                stroke="#4CAF50"
                                                stroke-width="4"
                                                fill="none"
                                                stroke-linecap="round"
                                                stroke-dasharray="125.6"
                                                stroke-dashoffset="56.52"
                                                transform="rotate(-90 25 25)"
                                            ></circle>
                                            <!-- Center Text -->
                                            <text
                                                x="50%"
                                                y="50%"
                                                text-anchor="middle"
                                                dominant-baseline="middle"
                                                font-size="10"
                                                fill="#fff"
                                                font-family="sans-serif"
                                                class="cdx-color-white cdx-fw-700 cdx-text-15"
                                            >
                                                5.5
                                            </text>
                                        </svg>
                                        <div class="cdx-imbd-icon">
                                            <img src="assets/images/hero-1/imbd-icon.svg" alt="icon" />
                                            <span class="cdx-color-white-8 cdx-fw-400 cdx-text-15">Rating</span>
                                        </div>
                                    </div>

                                    <a href="#" class="cdx-btn-1">
                                        <span>View More Details</span>
                                        <span class="cdx-arrow"><iconify-icon icon="bi:arrow-right"></iconify-icon></span>
                                    </a>
                                </div>
                            </div>
                            <div class="cdx-hero-thumb">
                                <img src="assets/images/hero-1/thumb-1.webp" alt="image" />
                            </div>
                        </div>
                    </div>
                </div>
                <div class="swiper-slide">
                    <div class="container-1560">
                        <div class="cdx-hero-wrapper">
                            <div class="cdx-hero-content">
                                <span class="cdx-badge-1 cdx-mb-8">David Robert Mitchell</span>
                                <h1 class="cdx-text-120 cdx-color-white cdx-fw-500 cdx-mb-20">
                                    The International
                                    <span class="cdx-color-primary">IPTV</span>
                                    Provider
                                </h1>
                                <p class="cdx-text-20 cdx-color-white-8 cdx-fw-400 cdx-mb-60">
                                    These stores often offer variety of brands and models, giving customers best option that suits their needs and
                                    budget.
                                </p>
                                <div class="cdx-imbd-wrapper">
                                    <!-- stroke-dashoffset
                                         75% progress = 125.6 × (1 - 0.75) = 31.4 -->

                                    <div class="cdx-imbd-icon">
                                        <svg class="cdx-imbd-ratting" width="50" height="50" viewBox="0 0 50 50">
                                            <!-- Background Circle -->
                                            <circle cx="25" cy="25" r="20" class="cdx-imbd-circle" stroke-width="4" fill="none"></circle>
                                            <!-- Progress Circle -->
                                            <circle
                                                cx="25"
                                                cy="25"
                                                r="20"
                                                stroke="#4CAF50"
                                                stroke-width="4"
                                                fill="none"
                                                stroke-linecap="round"
                                                stroke-dasharray="125.6"
                                                stroke-dashoffset="31.4"
                                                transform="rotate(-90 25 25)"
                                            ></circle>
                                            <!-- Center Text -->
                                            <text
                                                x="50%"
                                                y="50%"
                                                text-anchor="middle"
                                                dominant-baseline="middle"
                                                font-size="10"
                                                fill="#fff"
                                                font-family="sans-serif"
                                                class="cdx-color-white cdx-fw-700 cdx-text-15"
                                            >
                                                7.5
                                            </text>
                                        </svg>
                                        <div class="cdx-imbd-icon">
                                            <img src="assets/images/hero-1/imbd-icon.svg" alt="icon" />
                                            <span class="cdx-color-white-8 cdx-fw-400 cdx-text-15">Rating</span>
                                        </div>
                                    </div>

                                    <a href="#" class="cdx-btn-1">
                                        <span>View More Details</span>
                                        <span class="cdx-arrow"><iconify-icon icon="bi:arrow-right"></iconify-icon></span>
                                    </a>
                                </div>
                            </div>
                            <div class="cdx-hero-thumb">
                                <img src="assets/images/hero-1/thumb-1.webp" alt="image" />
                            </div>
                        </div>
                    </div>
                </div>
                <div class="swiper-slide">
                    <div class="container-1560">
                        <div class="cdx-hero-wrapper">
                            <div class="cdx-hero-content">
                                <span class="cdx-badge-1 cdx-mb-8">David Robert Mitchell</span>
                                <h1 class="cdx-text-120 cdx-color-white cdx-fw-500 cdx-mb-20">
                                    The International
                                    <span class="cdx-color-primary">IPTV</span>
                                    Provider
                                </h1>
                                <p class="cdx-text-20 cdx-color-white-8 cdx-fw-400 cdx-mb-60">
                                    These stores often offer variety of brands and models, giving customers best option that suits their needs and
                                    budget.
                                </p>
                                <div class="cdx-imbd-wrapper">
                                    <!-- stroke-dashoffset
                                         95% progress = 125.6 × (1 - 0.95) = 6.28 -->

                                    <div class="cdx-imbd-icon">
                                        <svg class="cdx-imbd-ratting" width="50" height="50" viewBox="0 0 50 50">
                                            <!-- Background Circle -->
                                            <circle cx="25" cy="25" r="20" class="cdx-imbd-circle" stroke-width="4" fill="none"></circle>
                                            <!-- Progress Circle -->
                                            <circle
                                                cx="25"
                                                cy="25"
                                                r="20"
                                                stroke="#4CAF50"
                                                stroke-width="4"
                                                fill="none"
                                                stroke-linecap="round"
                                                stroke-dasharray="125.6"
                                                stroke-dashoffset="6.28"
                                                transform="rotate(-90 25 25)"
                                            ></circle>
                                            <!-- Center Text -->
                                            <text
                                                x="50%"
                                                y="50%"
                                                text-anchor="middle"
                                                dominant-baseline="middle"
                                                font-size="10"
                                                fill="#fff"
                                                font-family="sans-serif"
                                                class="cdx-color-white cdx-fw-700 cdx-text-15"
                                            >
                                                9.5
                                            </text>
                                        </svg>
                                        <div class="cdx-imbd-icon">
                                            <img src="assets/images/hero-1/imbd-icon.svg" alt="icon" />
                                            <span class="cdx-color-white-8 cdx-fw-400 cdx-text-15">Rating</span>
                                        </div>
                                    </div>

                                    <a href="#" class="cdx-btn-1">
                                        <span>View More Details</span>
                                        <span class="cdx-arrow"><iconify-icon icon="bi:arrow-right"></iconify-icon></span>
                                    </a>
                                </div>
                            </div>
                            <div class="cdx-hero-thumb">
                                <img src="assets/images/hero-1/thumb-1.webp" alt="image" />
                            </div>
                        </div>
                    </div>
                </div>
                <div class="swiper-slide">
                    <div class="container-1560">
                        <div class="cdx-hero-wrapper">
                            <div class="cdx-hero-content">
                                <span class="cdx-badge-1 cdx-mb-8">David Robert Mitchell</span>
                                <h1 class="cdx-text-120 cdx-color-white cdx-fw-500 cdx-mb-20">
                                    The International
                                    <span class="cdx-color-primary">IPTV</span>
                                    Provider
                                </h1>
                                <p class="cdx-text-20 cdx-color-white-8 cdx-fw-400 cdx-mb-60">
                                    These stores often offer variety of brands and models, giving customers best option that suits their needs and
                                    budget.
                                </p>
                                <div class="cdx-imbd-wrapper">
                                    <!-- stroke-dashoffset
                                         75% progress = 125.6 × (1 - 0.75) = 31.4 -->

                                    <div class="cdx-imbd-icon">
                                        <svg class="cdx-imbd-ratting" width="50" height="50" viewBox="0 0 50 50">
                                            <!-- Background Circle -->
                                            <circle cx="25" cy="25" r="20" class="cdx-imbd-circle" stroke-width="4" fill="none"></circle>
                                            <!-- Progress Circle -->
                                            <circle
                                                cx="25"
                                                cy="25"
                                                r="20"
                                                stroke="#4CAF50"
                                                stroke-width="4"
                                                fill="none"
                                                stroke-linecap="round"
                                                stroke-dasharray="125.6"
                                                stroke-dashoffset="31.4"
                                                transform="rotate(-90 25 25)"
                                            ></circle>
                                            <!-- Center Text -->
                                            <text
                                                x="50%"
                                                y="50%"
                                                text-anchor="middle"
                                                dominant-baseline="middle"
                                                font-size="10"
                                                fill="#fff"
                                                font-family="sans-serif"
                                                class="cdx-color-white cdx-fw-700 cdx-text-15"
                                            >
                                                7.5
                                            </text>
                                        </svg>
                                        <div class="cdx-imbd-icon">
                                            <img src="assets/images/hero-1/imbd-icon.svg" alt="icon" />
                                            <span class="cdx-color-white-8 cdx-fw-400 cdx-text-15">Rating</span>
                                        </div>
                                    </div>

                                    <a href="#" class="cdx-btn-1">
                                        <span>View More Details</span>
                                        <span class="cdx-arrow"><iconify-icon icon="bi:arrow-right"></iconify-icon></span>
                                    </a>
                                </div>
                            </div>
                            <div class="cdx-hero-thumb">
                                <img src="assets/images/hero-1/thumb-1.webp" alt="image" />
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="swiper hero-slider-1-thumbs">
            <div class="swiper-wrapper">
                <div class="swiper-slide">
                    <img src="https://swiperjs.com/demos/images/nature-1.jpg" alt="image" />
                </div>
                <div class="swiper-slide">
                    <img src="https://swiperjs.com/demos/images/nature-2.jpg" alt="image" />
                </div>
                <div class="swiper-slide">
                    <img src="https://swiperjs.com/demos/images/nature-3.jpg" alt="image" />
                </div>
                <div class="swiper-slide">
                    <img src="https://swiperjs.com/demos/images/nature-3.jpg" alt="image" />
                </div>
            </div>
        </div>
    </div>
</div>
