<div class="cdx-movies-slider-2-wrap">
    <div class="container-1560">
        <div class="swiper cdx-movies-slider-2">
            <div class="swiper-wrapper">
                <div class="swiper-slide">
                    <div class="cdx-movie-item-2">
                        <img class="cdx-thumb" src="assets/images/movie-2/image-1.webp" alt="image" />
                    </div>
                </div>
                <div class="swiper-slide">
                    <div class="cdx-movie-item-2">
                        <img class="cdx-thumb" src="assets/images/movie-2/image-1.webp" alt="image" />
                    </div>
                </div>
                <div class="swiper-slide">
                    <div class="cdx-movie-item-2">
                        <img class="cdx-thumb" src="assets/images/movie-2/image-1.webp" alt="image" />
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>