<div class="cdx-service-1 container-1560 cdx-bg-dark-1 cdx-pb-120 cdx-pt-120">
    <div class="cdx-mb-80">
        <h2 class="cdx-text-60 cdx-color-dark cdx-fw-500 text-center">Important of deko.</h2>
    </div>

    <!-- SERVICE GRID  -->
    <div class="cdx-service-grid-1">
        <!-- ITEM  -->
        <div class="cdx-service-item-1">
            <div class="cdx-icon-box cdx-mb-30">
                <span class="cdx-icon">
                    <iconify-icon icon="solar:share-circle-outline"></iconify-icon>
                </span>
            </div>
            <div class="cdx-item-content">
                <h3 class="cdx-mb-14 cdx-color-dark cdx-fw-500 cdx-text-24"><a class="cdx-hover-line" href="#">Lightning-Fast Connectivity.</a></h3>
                <p class="cdx-color-dark-6 cdx-fw-400 cdx-text-18">Morbi libero velit placerat suscipit availa ornare amet enim.</p>
            </div>
        </div>
        <!-- ITEM  -->
        <div class="cdx-service-item-1">
            <div class="cdx-icon-box cdx-mb-30">
                <span class="cdx-icon">
                    <iconify-icon icon="carbon:satellite-radar"></iconify-icon>
                </span>
            </div>
            <div class="cdx-item-content">
                <h3 class="cdx-mb-14 cdx-color-dark cdx-fw-500 cdx-text-24"><a class="cdx-hover-line" href="#">Elite Digital Satellite TV.</a></h3>
                <p class="cdx-color-dark-6 cdx-fw-400 cdx-text-18">Morbi libero velit placerat suscipit availa ornare amet enim.</p>
            </div>
        </div>
        <!-- ITEM  -->
        <div class="cdx-service-item-1">
            <div class="cdx-icon-box cdx-mb-30">
                <span class="cdx-icon">
                    <iconify-icon icon="pepicons-pencil:electricity"></iconify-icon>
                </span>
            </div>
            <div class="cdx-item-content">
                <h3 class="cdx-mb-14 cdx-color-dark cdx-fw-500 cdx-text-24"><a class="cdx-hover-line" href="#">Ultra-Fast Home Connectivity.</a></h3>
                <p class="cdx-color-dark-6 cdx-fw-400 cdx-text-18">Morbi libero velit placerat suscipit availa ornare amet enim.</p>
            </div>
        </div>
        <!-- ITEM  -->
        <div class="cdx-service-item-1">
            <div class="cdx-icon-box cdx-mb-30">
                <span class="cdx-icon">
                    <iconify-icon icon="pepicons-pencil:television-play"></iconify-icon>
                </span>
            </div>
            <div class="cdx-item-content">
                <h3 class="cdx-mb-14 cdx-color-dark cdx-fw-500 cdx-text-24"><a class="cdx-hover-line" href="#">Deko Entertainment Box.</a></h3>
                <p class="cdx-color-dark-6 cdx-fw-400 cdx-text-18">Morbi libero velit placerat suscipit availa ornare amet enim.</p>
            </div>
        </div>
        <!-- ITEM  -->
        <div class="cdx-service-item-1">
            <div class="cdx-icon-box cdx-mb-30">
                <span class="cdx-icon">
                    <iconify-icon icon="streamline-ultimate:wifi-signal-2"></iconify-icon>
                </span>
            </div>
            <div class="cdx-item-content">
                <h3 class="cdx-mb-14 cdx-color-dark cdx-fw-500 cdx-text-24"><a class="cdx-hover-line" href="#">Seamless Wireless Access.</a></h3>
                <p class="cdx-color-dark-6 cdx-fw-400 cdx-text-18">Morbi libero velit placerat suscipit availa ornare amet enim.</p>
            </div>
        </div>
        <!-- ITEM  -->
        <div class="cdx-service-item-1">
            <div class="cdx-icon-box cdx-mb-30">
                <span class="cdx-icon">
                    <iconify-icon icon="iconamoon:shield-yes-thin"></iconify-icon>
                </span>
            </div>
            <div class="cdx-item-content">
                <h3 class="cdx-mb-14 cdx-color-dark cdx-fw-500 cdx-text-24"><a class="cdx-hover-line" href="#">Smart Home Protection.</a></h3>
                <p class="cdx-color-dark-6 cdx-fw-400 cdx-text-18">Morbi libero velit placerat suscipit availa ornare amet enim.</p>
            </div>
        </div>
    </div>
</div>