<div class="container-1560">
    <div class="d-flex justify-content-between align-items-center cdx-mb-70 gap-3 flex-column flex-sm-row text-center text-sm-start">
        <h2 class="cdx-text-60 cdx-color-dark cdx-fw-500">Meet Our Expert Team Members</h2>
        <a href="#" class="cdx-badge-2">See All Members</a>
    </div>
    <div class="cdx-teams-1">
        <script>
            for (let i = 1; i <= 3; i++) {
                document.write(`
                <div class="cdx-team-1-item">
                    <div class="cdx-thumb-wrap">
                        <img class="cdx-thumb" src="assets/images/team-1/team-${i}.webp" alt="image" />
                         <div class="cdx-team-socials">
                            <a href="#" class="cdx-social-icon-1"><iconify-icon icon="material-symbols:share"></iconify-icon></iconify-icon></a>
                                <a href="#" class="cdx-social-icon-1"><iconify-icon icon="ri:facebook-fill"></iconify-icon></a>
                                <a href="#" class="cdx-social-icon-1"><iconify-icon icon="mdi:twitter"></iconify-icon></a>
                                <a href="#" class="cdx-social-icon-1"><iconify-icon icon="line-md:linkedin"></iconify-icon></a>
                        </div>
                    </div>
                    <div class="cdx-item-content">
                        <div class="cdx-item-author">
                            <h3 class="cdx-text-20 cdx-color-dark cdx-fw-500 cdx-mb-12"><a href="#">Humphrey Dromedary</a></h3>
                            <p class="cdx-text-16 cdx-color-dark-6 cdx-fw-500">Chief customer officer</p>
                        </div>
                    </div>
                </div>
                `);
            }
        </script>
    </div>
</div>
