<div class="cdx-testimonial-1 container-1560">
    <div class="cdx-mb-80">
        <h2 class="cdx-text-70 cdx-color-dark cdx-fw-500">What Our Clients Saying.</h2>
    </div>
    <div class="cdx-testimonial-slider-1-wrap">
        <div class="swiper cdx-testimonial-slider-1">
            <div class="swiper-wrapper">
                <div class="swiper-slide">
                    <div class="cdx-testimonial-item-1">
                        <div class="cdx-thumb-wrap">
                            <img class="cdx-thumb" src="assets/images/testimonial-1/thumb-1.webp" alt="image" />
                        </div>
                        <div class="cdx-item-content">
                            <p class="cdx-text-26 cdx-color-dark-6 cdx-fw-400">
                                “Nisi erat porttitor ligula, eget lacinia odio sem gravida at eget metus aenean eu leo pelletize Quique porta eu est
                                vitae scelerigsque These stores often offer variety These stores often offer variety of brands and models of brands
                                and models customers.”
                            </p>
                            <div class="cdx-item-author">
                                <h3 class="cdx-text-24 cdx-color-dark cdx-fw-600 cdx-mb-8">
                                    <a href="#">Druid Wensleydale</a>
                                </h3>
                                <p class="cdx-text-16 cdx-color-dark-6 cdx-fw-400">Marketing Specialist</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="swiper-slide">
                    <div class="cdx-testimonial-item-1">
                        <div class="cdx-thumb-wrap">
                            <img class="cdx-thumb" src="assets/images/testimonial-1/thumb-1.webp" alt="image" />
                        </div>
                        <div class="cdx-item-content">
                            <p class="cdx-text-26 cdx-color-dark-6 cdx-fw-400">
                                “Nisi erat porttitor ligula, eget lacinia odio sem gravida at eget metus aenean eu leo pelletize Quique porta eu est
                                vitae scelerigsque These stores often offer variety These stores often offer variety of brands and models of brands
                                and models customers.”
                            </p>
                            <div class="cdx-item-author">
                                <h3 class="cdx-text-24 cdx-color-dark cdx-fw-600 cdx-mb-8">
                                    <a href="#">Druid Wensleydale</a>
                                </h3>
                                <p class="cdx-text-16 cdx-color-dark-6 cdx-fw-400">Marketing Specialist</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="cdx-navigation">
            <div class="swiper-button-next">
                <iconify-icon icon="iconamoon:arrow-right-1-light"></iconify-icon>
            </div>
            <div class="swiper-button-prev">
                <iconify-icon icon="iconamoon:arrow-left-1-light"></iconify-icon>
            </div>
        </div>
    </div>
</div>