.cdx-teams-1 {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: clamp(30px, 5.5vw, 100px);
    @media #{$lg} {
        gap: clamp(18px, 1.6vw, 30px);
    }
    @media #{$md} {
        grid-template-columns: repeat(2, 1fr);
    }
    @media #{$xs} {
        grid-template-columns: repeat(1, 1fr);
    }
}

.cdx-team-1-item {
    position: relative;
    overflow: hidden;
    .cdx-thumb-wrap {
        transition: var(--transition);
        position: relative;
        width: 100%;
        height: 500px;
        .cdx-thumb {
            width: 100%;
            height: 100%;
            vertical-align: middle;
            object-fit: cover;
            object-position: center;
        }
    }

    .cdx-item-content {
        background: hsl(var(--dark) / 0.1);
        padding: 20px 60px 20px clamp(18px, 1.6vw, 30px);
        transition: var(--transition);
        width: 80%;
        margin-left: auto;

        .cdx-text-16,
        .cdx-text-20 {
            transition: var(--transition);
            a {
                transition: none;
            }
        }
    }

    .cdx-team-socials {
        display: flex;
        transition: var(--transition);
        flex-direction: column;
        gap: 10px;
        position: absolute;
        bottom: 0;
        background: hsl(var(--dark) / 0.1);
        right: -70px;
        padding: 20px 12px 20px 12px;
        min-height: 350px;
        justify-content: flex-end;
    }

    &:hover {
        .cdx-item-content {
            background: hsl(var(--primary));
        }
        .cdx-team-socials {
            background: hsl(var(--primary));
            right: 0px;
        }
    }

    @media #{$lg} {
        .cdx-item-content {
            width: 100%;
        }
    }
    @media #{$md} {
        .cdx-item-content {
            background: hsl(var(--primary));
            width: 100%;
            text-align: center;
        }
        .cdx-team-socials {
            opacity: 1;
            background: hsl(var(--primary));
            height: 100%;
            min-height: auto;
            right: 0px;
        }
        .cdx-thumb-wrap {
            height: 400px;
        }
    }
    @media #{$xs} {
    }
    @media #{$xxs} {
        .cdx-thumb-wrap {
            height: 320px;
        }
    }
}

.dark {
    .cdx-team-1-item {
        &:hover {
            .cdx-text-16,
            .cdx-text-20 {
                color: hsl(var(--white));
            }
        }

        @media #{$md} {
            .cdx-text-16,
            .cdx-text-20 {
                color: hsl(var(--white));
            }
        }
    }
}
